[submodule "pybind11"]
    path = pybind11
    url = https://github.com/pybind/pybind11.git
    branch = 5b0a6fc

[submodule "src/sqlite_blaster"]
	path = src/sqlite_blaster
	url = https://github.com/siara-cc/sqlite_blaster.git
	branch = main
